.accueil .gallery {
    width: 100%;
    border-radius: 25px;
    background-color: #f6f6f6;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    margin-bottom: 7rem;
    gap: 1rem;
}

@media only screen and (max-width: 800px) {
    .accueil .gallery {
        margin-bottom: 0;
    }

    .accueil .banner .texte {
        font-size: 1.7rem;
        white-space: normal;
        width: 88%;
    }
    .accueil .item {
        width: 100%;
    }
    .accueil .banner {
        height: 150px;
    }

    .accueil .gallery {
        background-color: initial;
        display: block;
    }
}
